<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calorie Tracker</title>
</head>

<body>

    {% if user.is_authenticated %}
    <div align="center">
        <h3> {{ user.name }} </h3>
        <h4> {{ user.email }} </h4>
        <img src="{{ user.profile_pic }}" alt="User Pic"><br>
        <a href="{{ url_for('auth.logout') }}">Logout </a>
    </div>
    {% else %}
    <p align="center">
        <a href="{{ url_for('auth.login') }}">
            Login with Google
        </a>
    </p>
    {% endif %}
</body>

</html>