<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calorie Tracker</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <!-- <a class="navbar-brand" href="#">Calorie Tracker</a> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <img src="{{ user.profile_pic }}" alt="" width="35" height="35">
                        <span class="navbar-text">{{ user.name }}</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>

                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <a class="nav-link " href="#">Logout</a>

            </div>
        </div>
    </nav>

    <!-- <div align="center">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <h3> {{ user.name }} </h3>
        <h4> {{ user.email }} </h4>
        <img src="{{ user.profile_pic }}" alt="User Pic"><br>
        <a href="{{ url_for('auth.logout') }}">Logout </a>
        <form action="{{ url_for('tracker.track') }}" method="post">
            <label for="name">Item name:</label>
            <input type="text" name="name" placeholder="item name,,,"><br>
            <label for="calories">Calories:</label>
            <input type="text" name="calories" placeholder="calorific value,,,"><br><br>
            <input type="submit" value="Submit">
        </form>
    </div> -->

    <div align="center">
        <p>Size: {{ user.items|count }}</p>
        {% for item in user.items %}
        <p>{{ item.name }}</p>
        <p>{{ item.calories }}</p>
        <p>{{ item.timestamp.strftime('%-d %b %Y, %I:%M%p') }}</p>
        <br>
        {% endfor %}
    </div>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>